//META {"name":"Cintor3001","description":"Custom simple & clean dark theme for BonbiBonkers Discord fans.","author":"Shir0#1800","version":"1.0"}*//{}

/*  
_________ .__        __              ________ _______  _______  ____ 
\_   ___ \|__| _____/  |_  __________\_____  \\   _  \ \   _  \/_   |
/    \  \/|  |/    \   __\/  _ \_  __ \_(__  </  /_\  \/  /_\  \|   |
\     \___|  |   |  \  | (  <_> )  | \/       \  \_/   \  \_/   \   |
 \______  /__|___|  /__|  \____/|__| /______  /\_____  /\_____  /___|
        \/        \/                        \/       \/       \/     
		
###################################################################################################

Custom CSS Theme made for Community by me - supporting dark themed Discord for better visibility.

I tried to keep the theme nice and clean without many fancy add-ons or graphics.
Based of Nocturnal v1.2 by Spectra#7698 and I take no creadiot for most of the visuals
(I have obtained permissions from Spectra and I am active on his Discord if you have any questions.)

Do not Sell or Redistribute.

###################################################################################################*/



/* ################################################################################################*/
@import url();
/* ################################################################################################*/